@font-face {font-family:'BKoodakBold';src:url(fonts/BKoodakBold.ttf);src:url(fonts/BKoodakBold.otf);font-style:normal;font-weight:normal}
@font-face {font-family:'BYekan';src:url(fonts/BYekan.ttf);src:url(fonts/BYekan.otf);font-style:normal;font-weight:normal}
@font-face {font-family:'BKoodak';src:url(fonts/BKoodak.ttf);src:url(fonts/BKoodak.otf);font-style:normal;font-weight:normal}
 
body{font-family:BKoodakBold,BKoodak,BYekan;font-size:40px;padding:10px;margin-top:60PX}
#title {
    font-size: 50px;
    text-align: center;
    color: #3949AB;
}
#intro{}
#introhead{font-size:50px;margin-right:5px}
#intro table{display:inline-block;margin:10px;background:#BF360C;border-radius:10px}
#intro table td:nth-child(1){background:#212121;border:none;padding:10px;border-radius:0px 10px 10px 0px}
#intro table td:nth-child(2){background:#424242;border:none;padding:10px;border-radius:10px 0px 0px 10px}

#intro2{}
#intro2head{font-size:50px;margin-right:5px}
#intro2 table{display:inline-block;margin:10px;background:#BF360C;border-radius:10px}
#intro2 table td:nth-child(1){background:#3E2723;border:none;padding:10px;border-radius:0px 10px 10px 0px}
#intro2 table td:nth-child(2){background:#4E342E;border:none;padding:10px;border-radius:10px 0px 0px 10px}

.contentr{background:#BDBDBD;width:70px;text-align:center;height:inherit;border-radius:35px;vertical-align:central}
.contentl{background:#BDBDBD;height:inherit;margin-bottom:10px;border-radius:10px;padding:10px}